doctype html
html
  //-
      JS Namespace:
        cfg 

  head
    title= cfg.title
    link(rel='stylesheet', href='/css/video-app.css')

    //-link(href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css")
    link(href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css")

    link(href="/css/video-app.css" rel="stylesheet" type="text/css")

    //-script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type="text/javascript")
    script(src="/js/jquery.js", type="text/javascript")
    script(src="/js/lodash.js", type="text/javascript")

    - var cfg_json_str = JSON.stringify(cfg)

    script(src="/js/video-app.js", type="text/javascript")
    script.
      $(document).ready(function(){
        VIDEO_APP.init(!{cfg_json_str})
      })

  body
    h1= cfg.title
    p Welcome to #{cfg.title}
    //-i.fa.fa-spinner.fa-pulse.fa-3x

    hr

    div#fileSelect

    hr

    div#videoContents

    div#videoControls

