.hide {
  display:none;
}

option.directory {
  font-weight: bolder;
}

option.file {

}

span.notice {
  align: center;
}

button.launchButton {
  margin-top   : 10px;
  margin-left  : auto;
  margin-right : auto;
  margin-bottom: auto;
  background-color : lightgrey;
}

button.launchButton::before {
  content : "Launch: ";
}

div#fileSelect {
  display : inline-block;
}

div.volumeSelector {
  display   : flex;
/*  float     : left; */
  height    : 220px;
  overflow-x: scroll;
  overflow-y: auto;
}

div.wrapVolumeSelect {
/*  float     : left; */
  height    : 220px;
  width     : 100px;
  min-width : 100px;
  overflow-x: auto;
  overflow-y: auto;
}

select.volumeSelector {
  min-width  : 100%;
  min-height : 220px;
}

div.fileSelector {
/*  float     : left; */
  width     : 180px;
  min-width : 180px;
}

div.wrapSelect {
  overflow-x: auto;
  overflow-y: auto;
}

select.fileSelector {
  height    : 220px;
  min-width : 180px;
}

div#videoStuff {
  display : inline-block;
}

div#videoContents {
  display: inline-block;
}

div#videoContents {

}

canvas.videoDisplay {
  width  : 100%;
}

video.videoSource {
  max-width : 600px;
}

div.videoContent {

}


div#videoControls {

}

div#play {
  display: inline-block;
  padding-left: 4px;
  padding-right: 3px;  
}

div.btn {
  font-family: FontAwesome;
  border: solid black 1.5px;
  border-radius: 5px; /* rounded corners */
  background-color: lightgrey;
  text-align: center;
/*  min-width: 2em; */
}

